@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
      --primary: 242, 242, 242;
      --primary-light: 255, 255, 255;
      --primary-dark: 217, 217, 217;
  
      --contrast: 30, 31, 34;
      --contrast-light: 49, 51, 56;
      --contrast-dark: 0, 0, 0;

      --accent: 168, 165, 255;
  }
}
